<footer>
  <div class="footer-containers">
    <div>Pop.Eats</div>
    <div>Pop.Eats
      <div class="address">123 Downtown Ave Vancouver, BC ABC XYZ</div>
    </div>
    <div class="copyright">© Pop.Eats. All Rights Reserved</div>
  </footer>
</body>

