<footer>
  <div class="footer-containers">
    <div>
      Pop.Eats
      <div class="address">2148 Main St, Vancouver, BC V5T 3C5</div>
    </div>

    <div>
      FOLLOW US
      <span class="social-media">
        <span class="instagram"><i class="fab fa-instagram"></i></span>
        <span class="facebook"><i class="fab fa-facebook"></i></span>
        <span class="youtube"><i class="fab fa-youtube"></i></span>
        <span class="twitter"><i class="fab fa-twitter"></i></span>
      </span>
    </div>
    <div class="copyright">© Pop.Eats. All Rights Reserved</div>
  </div>
</footer>
