<nav class="header">
  <div class="logo">
    <i class="fas fa-hamburger"></i>
    <div>
      <a href="/">Pop.Eats</a>
    </div>
  </div>
  <div class="about">
    <a href="/about">ABOUT</a>
  </div>
  <div class="menu">
    <a href="/menu">MENU</a>
  </div>
  <div class="contact">
    <a href="/contact">CONTACT</a>
  </div>
  <% if (user && user.name){ %>
  <div id="user" class="dropbtn">Hi, <%- user.name %></div>
  <div id="dropDownMenu" class="dropdown-content">
    <a href="/orders">Orders</a>
    <a href="/profile">Profile</a>
    <% if (user.is_owner){ %>
      <a href="/manage">Manage</a>
      <a href="/update-menu">Update Menu</a>
    <% } %>
    <a href="/logout">Logout</a>
  </div>
  <% } else { %>
    <div id="user" class="dropbtn">USER</div>
    <% } %>
    <div id="dropDownMenu" class="dropdown-content">
      <a href="/login/1">Management - Rhys Wood</a>
      <a href="/login/2">Management - Lenil Samuel</a>
      <a href="/login/3">Management - Bryson Best</a>
      <a href="/login/10">User - Ash Mason</a>
      <a href="/login/12">User - Robert Booth</a>
      <a href="/login/14">User - Whitney Dunn</a>
    </div>
</nav>


