<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/images/hamburger-solid.svg">
  <link rel="stylesheet" href="/styles/main.css" type="text/css"/>
  <link rel="stylesheet" href="/styles/about.css" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
  />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="module" src="/scripts/user.js"></script>

  <title>About Pop.Eats</title>
</head>
<body>
  <%- include('partials/_header') %>
  <div class="about-text">
    <span id="about-us">ABOUT US</span>
    <span>Pop.Eats was formed by three aspiring software developers who also share a love for food and all things pop culture. Our mission is simple - to allow anyone to enjoy their favourite foods from TV, movies, and elsewhere. If you can watch it, you can eat it..</span>
  </div>
</body>
</html>
