<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="icon" href="./public/images/hamburger-solid.svg">
    <link
      href="https://fonts.googleapis.com/css2?family=Bungee&family=Montserrat&family=Roboto&family=Sacramento&family=Source+Sans+Pro:wght@600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/main.css" type="text/css"/>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <title>Pop.Eats</title>
  </head>
  <body>
    <nav class="header">
      <div class="logo">
        <i class="fas fa-hamburger"></i>
        <div>
          <a href="/">Pop.Eats</a>
        </div>
      </div>
      <div class="about">
        <a href="/about.html">ABOUT</a>
      </div>
      <div class="menu">MENU</div>
      <div class="contact">
        <a href="/contact.html">CONTACT</a>
      </div>
      <div class="user">USER</div>
    </nav>
    <main>
      <div class="intro-text">
        🍕 + 📺  = Pop.Eats 😋
      </div>
      <button class="order-now">ORDER NOW</button>
    </main>
  </body>
</html>
