//Colours
$accentColor : #eb1c1c;
$mainColor: rgba(0, 0, 0, 0.85);
$fontColor: white;
$backgroundColor: rgb(249, 249, 249);
$positiveButton: #5cb85c;
$removeButton: #d9534f;
$buttonBackground: $fontColor;
$updateButton: #4fb2d9;
