@import "./variables";


body {
  background-image: none;
  background-size: cover;
  background-color: $backgroundColor;
  align-items: center;
  // height: 100vh;
  justify-content: center;
}


#about-us{
  display: inline-block;
  font-size: 50px;
  margin-bottom: 1em;
  width: 260px;
  border-bottom: 1px solid white;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #944556;
  color: white;
  width: 100%;
}

.about-section h1 {
  margin-bottom: 1em;
}

@media only screen and (max-width: 420px) {
  .header {
    width: 100vw;
  }

  .about-text {
    width: 200px;
    font-size: $standardFont;
  }

  #about-us {
    font-size: $standardFont;
    width: 108px;
  }

}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .about-text {
    width: 350px;
    font-size: 35px;
  }

}
