@import "./variables";


body {
  background: url(/images/about.jpg);
  background-size: cover;
  align-items: flex-start;
}

.about-text {
  display: flex;
  flex-direction: column;
  width: 500px;
  background: $mainColor;
  margin-top: 200px;
  color: $fontColor;
  border-radius: 5px;
  padding: 1em;
  margin-left: 3%;
  font-size: 40px;
}

#about-us{
  display: inline-block;
  font-size: 50px;
  margin-bottom: 1em;
  width: 260px;
  border-bottom: 1px solid white;
}

@media only screen and (max-width: 420px) {
  .header {
    width: 100vw;
  }

  .about-text {
    width: 200px;
    font-size: 20px;
  }

  #about-us {
    font-size: 20px;
    width: 108px;
  }

}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .about-text {
    width: 350px;
    font-size: 35px;
  }
}
