html {
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

.header {
  // position: fixed;
  background: rgba(0, 0, 0, 0.85);
  width: 100%;
  overflow-x: hidden;
  height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  color: white;
  font-size: 40px;
}

.dropbtn {
  color: white;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  color: #eb1c1c;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width:auto;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 100;
  top: 100px;
  right: 5%;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0%;
  margin: 0%;
  background-image: url('/images/home-page-background.jpg');
  background-size: cover;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 85%;
  height: 100vh;
}

.logo {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #eb1c1c;
}

.intro-text {
  background: rgba(0, 0, 0, 0.75);
  color: white;
  width: 400px;
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
  border-radius: 10px;
  padding: 0.4em;
}

.order-now {
  cursor: pointer;
  outline: none;
  color:white;
  background: rgba(255, 0, 0, 0.8);
  border-radius: 5px;
  width: 250px;
  height: 85px;
  border: none;
  font-size: 35px;
  margin-top: 15px;
  box-shadow: 2px 2px 20px 10px rgba(251, 251, 251, 0.1);
}

.order-now:hover {
  filter: brightness(90%);
  background-color: white;
  color: #eb1c1c;
}
