@import "./variables";

html {
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

.header {
  background: $mainColor;
  width: 100vw;
  overflow-x: hidden;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  color: $fontColor;
  font-size: 25px;
}

.dropbtn {
  color: $fontColor;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  color: $accentColor;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: $backgroundColor;
  width:auto;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 100;
  top: 100px;
  right: 5%;
}

.dropdown-content a {
  color: $mainColor;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: $backgroundColor}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0%;
  margin: 0%;
  background-image: url('/images/home-page-background.jpg');
  background-size: cover;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 85%;
  height: 100vh;
}

.logo {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: $fontColor;
}

a:hover {
  color: $accentColor;
}

.intro-text {
  background: $mainColor;
  color: $fontColor;
  width: 400px;
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
  border-radius: 10px;
  padding: 0.4em;
}

.order-now {
  cursor: pointer;
  outline: none;
  color:$fontColor;
  background: $accentColor;
  border-radius: 5px;
  width: 250px;
  height: 85px;
  border: none;
  font-size: 35px;
  margin-top: 15px;
  box-shadow: 2px 2px 20px 10px rgba(251, 251, 251, 0.1);
}

.order-now:hover {
  filter: brightness(90%);
  background-color: $backgroundColor;
  color: $accentColor;
}

footer {
    // position: fixed;
    background: $mainColor;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    color: $fontColor;
    font-size: 25px;
}

.footer-containers {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 15px;
  height: 100px;
}

.address {
  font-size: 12px;
  width: 160px;
}

.social-media {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

@media only screen and (max-width: 420px) {
  .header {
    font-size: 16px;
    width: 100vw;
  }

  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
  }

  .intro-text {
    width: 250px;
    font-size: 25px;
  }

  .order-now {
    width: 200px;
    font-size: 25px;
  }
}

@media only screen and (min-width: 420px) and (max-width: 820px) {
  .header {
    font-size: 30px;
  }
}
