body {
  display: flex;
  align-items: flex-start;
  background-image: none;
  width: 100%;
  background-color:rgb(249, 249, 249);

  main {
    flex-direction: column;
    justify-content: center;

    .orders-container {
      position: absolute;
      background-color: white;
      top: 200px;
      left: 5%;
      width: 90%;
    }
  }
}


.done-row{
  visibility:collapse;
}



#toggleOrders {
  display:flex;
  justify-content: end;
  position: absolute;
  top: 150px;
  left: 5%;
}

