@import "./variables";

body {
  display: flex;
  align-items: flex-start;
  background-image: none;
  width: 100%;
  background-color:$backgroundColor;

  main {
    flex-direction: column;
    justify-content: center;

    .orders-container {
      position: absolute;
      background-color: white;
      top: 200px;
      left: 5%;
      width: 90%;
    }
  }
}

.tablerow {
  transition: transform .2s;
  background-color: white;
  &:hover {
    transform: scale(1.05);
  }
}


.done-row{
  visibility:collapse;
}

#toggleOrders {
  display:flex;
  justify-content: end;
  position: absolute;
  top: 150px;
  left: 5%;
}

