body {
  align-items: flex-start;
  background-image: none;
  width: 100%;
  background-color:rgb(249, 249, 249);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 250px;
  height: 250px;
}

.header {
  position: fixed;
  top: 0;
}

.menu-container {
  display: flex;
  width: 100%;
  // flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  margin-top: 120px;
  align-items: center;
}

// .menu-container {
//   width: 90%;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   margin-left: auto;
//   margin-right: auto;
// }

// .table {
//   margin-left: 0px;
// }

.menu-item-container {
  width: 90%;
  display: flex;
}

aside {
  width: 250px;
  background: rgba(0,0,0, 0.8);
  color: white;
  font-size: 30px;
  position: fixed;
  right: 20px;
  padding: 0.5em;
  border-radius: 2px;
}

.table {
  margin-right: 190px;
}

.add-btn {
  width: 85px;
  height: 38px;
  background-color: white;
  color:#5cb85c;
  border: solid 1px #5cb85c;
}

.add-btn:hover {
  color: white;
  background-color: #5cb85c;
}

.remove-btn {
  width: 85px;
  height: 38px;
  background-color: white;
  color: #d9534f;
  border: solid 1px #d9534f;
}

.remove-btn:hover {
  color: white;
  background-color: #d9534f;
}


#total {
  display: none;
}

h1{
  width: 90%;
  display: block;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2em;
}

// td img {
//   // height: 150px;
//   // width: 150px;
// }

.qty-submit{
  display: flex;
  justify-content: space-between;
}
