body {
  align-items: flex-start;
  background-image: none;
  width: 100%;
  background-color:rgb(249, 249, 249);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 250px;
  height: 250px;
}


.menu-container {
  display: flex;
  width: 100%;
  // flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  margin-top: 40px;
  align-items: center;
}

// .menu-container {
//   width: 90%;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   margin-left: auto;
//   margin-right: auto;
// }

// .table {
//   margin-left: 0px;
// }

// .menu-item-container {
//   width: 90%;
//   display: flex;
// }

.logo {
  align-items: center;
}
aside {
  border: solid 1px black;
  box-shadow: 2px 2px 8px grey;
  color: black;
  width: 250px;
  font-size: 20px;
  position: fixed;
  right: 20px;
  padding: 0.1em;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom:10px;
  background-color: rgb(249, 249, 249);
}

aside:hover {
  box-shadow: 2px 2px 15px black;
}

.table {
  margin-right: 190px;
}

.add-btn {
  width: 85px;
  height: 38px;
  background-color: white;
  color:#5cb85c;
  border: solid 1px #5cb85c;
}

.form-control {
  width: 75px;
}
.add-btn:hover {
  color: white;
  background-color: #5cb85c;
}

.remove-btn {
  width: 85px;
  height: 38px;
  background-color: white;
  color: #d9534f;
  border: solid 1px #d9534f;
}

.remove-btn:hover {
  color: white;
  background-color: #d9534f;
}

.total, .tax, .grand-total, .cart-description {
  display: inline-flex
}

.grand-total {
  color: #d9534f;
  font-weight: bolder;
}

#total {
  display: none;
}

.cart-total-item, .cart-tax, .cart-grand-total, .items-text {
  margin-left: 5px;
}

h1{
  width: 90%;
  display: block;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2em;
  font-size: 30px;
  text-decoration: underline;
}

// td img {
//   // height: 150px;
//   // width: 150px;
// }

.menu-title {
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
}

.menu-description {
  font-size: 20px;
  font-style: italic;
  letter-spacing: 1px;
}

.rating-title {
  font-size: 35px;
  font-weight: bold;
}

.rating {
  font-size: 20px;
}

.price {
  font-size: 20px;
}

.price-title {
  font-size: 35px;
  font-weight: bold;
}

.qty-submit{
  display: flex;
  justify-content: space-between;
}

.items-id {
  display: none;
}

.submit-btn {
  color: white;
  background-color: #5cb85c;
  border: none;
  padding: 0.5em;
  margin-top: 5px;
  margin-bottom: 5px;
}

.submit-btn:hover {
  background-color: white;
  color: #5cb85c;
  border: solid 1px #5cb85c;
}

#submitPopup {
  background-color: white;
  position: fixed;
  top: 130px;
  left: 30%;
  padding: 125px;
  border: solid 1px black;
  box-shadow: 2px 2px 8px grey;
  color: black;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-item-container {
  width: 90%;
  display: flex;
}

// @media only screen and (max-width: 420px) {
//   .header {
//     font-size: 16px;
//     width: 100vw;
//   }

//   h1 {
//     font-size: 25px;
//   }
//   .menu-title, .rating-title, .price-title {
//     font-size: 10px;
//     font-weight: 200;
//   }

//   .menu-description, .price, .rating {
//     font-size: 8px;
//   }

//   .form-control {
//     width: 20px;
//     height: 20px;
//   }

//   // #whatever {
//   //   padding: 2px;
//   // }

//   .row-input {
//     padding: 2px;
//   }

//   img {
//     width: 80px;
//     height: 80px;
//   }

//   .add-btn, .remove-btn {
//     width: 20px;
//     height: 20px;
//     font-size: 8px;
//     padding: 0;
//   }

//   #cart {
//     position: relative;
//     width: 80%;
//     margin-left: 85px;
//   }

//   .menu-item-container {
//     display: block;
//     width: 95%;
//   }

// }

@media only screen and (min-width: 420px) and (max-width: 820px) {
  .menu-title, .rating-title, .price-title {
    font-size: 20px;
  }

  .menu-description, .price {
    font-size: 16px;
  }

  .form-control {
    width: 50px;
  }

  img {
    width: 200px;
    height: 220px;
  }

  .add-btn, .remove-btn {
    width: 70px;
    font-size: 15px;
  }

  #submitPopup {
    padding: 1em;
    width: 600px;
    left: 15%;
  }

  #cart {
    position: relative;
    width: 80%;
    margin-left: 85px;
  }

  .menu-item-container {
    display: block;
    width: 95%;
  }
}
