@import "./variables";

body {
  display: flex;
  align-items: flex-start;
  background-image: none;
  width: 100%;
  background-color:$backgroundColor;

  main {
    flex-direction: column;
    justify-content: center;

    .orders-container {
      position: absolute;
      background-color: white;
      top: 200px;
      left: 5%;
      width: 90%;
    }
  }
}

.tablerow {
  transition: transform .2s;
  background-color: white;
  &:hover {
    transform: scale(1.05);
  }
}

.done-row{
  visibility:collapse;
}

#toggleOrders {
  display:flex;
  justify-content: end;
  position: absolute;
  top: 150px;
  left: 5%;
}

h1{
  width: 90%;
  display: flex;
  position:absolute;
  top: 110px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2em;
  font-size: 30px;
  text-decoration: underline;
}

tbody tr{
  outline-style: solid;
}

@media only screen and (max-width: 420px) {

  h1{
    top: 80px;
    left: 70px;
    font-size: 20px;
    width: 150px;
  }

  .titles {
    display:inline-block;
  }

  th {
    display:none;
  }

  .menu-img {
    display:inline-block;
  }

  .order-id{
    display:block;
  }

  .payment-status {
    display:block;
  }

  .order-start {
    display:block;
  }

  .price-block {
    display:block;
  }

  .order-items-sum {
    display:block;
  }

  .order-details {
    display:block;
  }

  #order-items {
    display:block;
  }

  tr td {
    display:flex;
  }

  .row-input, .remove-btn-block, .add-btn-block  {
    display:inline-block;
  }

    .menu-description, .price, .rating {
    font-size: 12px;
  }
}
