@import "./variables";

body {
  align-items: flex-start;
  background-image: none;
  width: 100%;
  background-color:$backgroundColor;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 250px;
  height: 250px;
}


.menu-container {
  display: flex;
  width: 100%;
  // flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  margin-top: 40px;
  align-items: center;
}

.menu-item-container {
  width: 90%;
  display: flex;
}

.add-btn {
  width: 85px;
  height: 38px;
  background-color: $buttonBackground;
  color: $positiveButton;
  border: solid 1px $positiveButton;
}

.add-btn:hover {
  color: $buttonBackground;
  background-color: $positiveButton;
}

.remove-btn {
  width: 200px;
  height: 38px;
  background-color: $buttonBackground;
  color: $removeButton;
  border: solid 1px $removeButton;
}

.remove-btn:hover {
  color: $fontColor;
  background-color: $removeButton;
}

.update-btn {
  width: 150px;
  height: 38px;
  background-color: $buttonBackground;
  color: $updateButton;
  border: solid 1px $updateButton;
  ;
}

.update-btn:hover {
  color: $fontColor;
  background-color: $updateButton;
}

.total, .tax, .grand-total, .cart-description {
  display: inline-flex
}

.grand-total {
  color: #d9534f;
  font-weight: bolder;
}

#total {
  display: none;
}

.cart-total-item, .cart-tax, .cart-grand-total, .items-text {
  margin-left: 5px;
}

h1{
  width: 90%;
  display: block;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2em;
}

.qty-submit{
  display: flex;
  justify-content: space-between;
}
